

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Calibri;
}

.full {
	background: black;
	/* height: 200vh; */
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 80px;
	transition: 0.3s;
	z-index: 100;
  	background-color:black
}

.header::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
	z-index: -1;
}

.header.sticky {
	padding: 15px 80px;
}

.header.sticky::after {
	height: 100%;
}

.header .logo {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: white;
	font-size: 1.8rem;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header ul li {
	list-style: none;
	margin: 0 10px;
  color: yellow;
}

.header ul li a:hover,.header .logo:hover{
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color:orange;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.header ul li a {
	text-transform: uppercase;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	transition: 0.5s;
	transition-delay: 0.3s;
}


.header.sticky .logo,
.header.sticky ul li a {
	color: black;
}

.banner {
	position: relative;
	width: 50%;
	height: 100vh;
  /* url(https://i.ibb.co/m63sdGt/Bg.jpg)  */
}

/* search box */
  .search-box{
	margin-left:100px;
	margin-top: 20px;
	margin-bottom:100px;
	width: 90%;
	height: 20%;
	position: relative;
	display: flex;
	font-size: 15px;
  }

  .search-input{
	margin-bottom:94.5px;
	width: 76.6%;
	/* margin-left: 300px; */
	padding: 10px;
	border: 2px solid orange;
	border-radius:5px 0 0 5px ;
	border-right: none;
	outline: none;
	font-size: 15px;
	color: blue;
	background: none;
	
  }
  .search-button{
	/* margin-bottom:60px; */
   text-align: center;
  height: 51px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 2px solid orange;
   border-radius: 0 5px 5px 0 ;
  border-left: none;
  background: orange;
  font-size: 20px;
  border-left: 2px solid orange;
  }
  .container{
	width: 35%;
	position: absolute;
	left: 40%;
	top: 40%;
	transform: translate(-50% , -50%);
  }

  /* select */
  .form-select{
	height: 50%;
    width: 40%;
  }

/* content */
.content{
	margin-top:-125px;
	margin-left: 100px;
}
.content h3, .content h4{
	color:black;
}
.col,.row{
	color:white;
	margin-bottom: 40px;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: block;
}
.input{
	margin-top: 200px;
	border: 2px solid orange;
	border-radius:5px;
	padding:10px;
	/* border-left: 4px solid orange; */
	/* left: 40%; */
}
.question{
	/* margin-top: 10000px; */
	margin-left:100px;
}
/* select-css */
select ,.select{
	height:51px;
	border: 2px solid orange;
	background-color: orange;
	border-radius:5px;
	padding:0px;
	margin-right:10px;
  }
  /* Remove IE arrow */
  select::-ms-expand {
	display: none;
  }
  /* Custom Select wrapper */
  /* Transition */
  select:hover::after {
	color: orange;
  }
  /* footer-css */
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
  .footer{
	background-color: black;
	color:orange;
	width:100%;
	height: 50%;
	margin-top:150px;
	/* margin-left:2px; */
  }
  a{
	color:orange;
  }

  .dropdown-item {
	background-color: orange !important;
  }

  .dropdown-item:hover{
	background-color: hwb(23 5% 11%) !important;
  }
  .btn.btn-secondary.dropdown-toggle{
	background-color: orange !important;
  }
  .btn.btn-secondary.dropdown-toggle:hover{
	background-color: hwb(23 5% 11%) !important;
  }

  .info{
	margin-top: 200px;
  }