<div class="full">
	<nav class="header">
		<a href="/" target="_blank" class="logo">Welcome to our Booking !</a>
		<ul>
			<li><a href="/" target="_blank">Stays</a></li>
			<li><a href="/transports" target="_blank">Transports</a></li>
			<li><a href="/tickets" target="_blank">Tickets</a></li>
			<li><a href="/restaurants" target="_blank">Restaurants</a></li>
			<li><a href="/info" target="_blank">Information</a></li>
			{{!-- dropdown --}}

				<div class="dropdown">
				{{#if fullname}}
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{fullname}}
				</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="/accounts/{{slug}}">Details</a>
						<form action="/accounts/logout" method="post">
							<button class="dropdown-item" type="submit"> Log out </button>
						</form>
					</div>
				</div>
				{{else}}
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Unknown
				</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="/accounts/login">Log In</a>
						<a class="dropdown-item" href="/accounts/signup">Sign Up</a>
					</div>
				</div>
				{{/if}}
		</ul>
  
	</nav>
</div>
