<div class="info">
fullname: {{data.fullname}}
<br>
kind: {{data.kind}}
<br>{{admin}}
</div>
{{#if admin}}
<a href="/products/addStays">Add Stays</a>
<a href="/products/tickets">Add Tickets</a>
<a href="/products/transports">Add Transports</a>
{{else}}
<a href="cart">Cart</a>
<a href="/products/invoice">Invoice</a>
{{/if}}